*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
.box-1{
    height: 100vh;
    width: 100%;
    background-color: red;
}
.descrizione{
 position: absolute;
 left:50%;
 top:80%;
 transform: translate(-50%,-50%);
 font-family: 'Rubik Mono One';
 font-size: 40px;
 text-align: center;
 color: yellow;
}

.scarpa-1 img{
 position: absolute;
 left:50%;
 top: 40%;
 transform: translate(-50%,-50%);
 width: 50%;
}

.box-2{
    height: 100vh;
    width: 100%;
    background-color: green;
    position: relative;
}

 .scarpa-2 img{
    position: absolute;
    left:50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 50%;
   }

.box-3{
    height: 100vh;
    width: 100%;
    background-color: yellow;
    position: relative;
}

.scarpa-3 img{
    position: absolute;
    left:50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 50%;
 }
 .descrizione.verde{
     color: green;
 }